.h1-montserrat { 
    font-family: 'Montserrat', sans-serif; font-size: 36px; 
}
.bg-purple-light {
     background-color: #E2DFFF; 
}
.bg-info-light {
     background-color: #7AC2FF; 
}
#footer {
     background-color: #0D2233; 
}